<?xml version="1.0"?>
<ruleset name="Vova's Post Grids">
	<description>PHPCS rules for the Vova's Post Grids WordPress plugin.</description>

	<file>vova-post-grids.php</file>
	<file>includes</file>
	<file>src</file>

	<exclude-pattern>*/build/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>

	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg name="extensions" value="php"/>
	<arg name="parallel" value="8"/>

	<config name="minimum_supported_wp_version" value="6.5"/>
	<config name="testVersion" value="7.4-"/>

	<rule ref="WordPress"/>
	<rule ref="WordPress-Extra"/>
	<rule ref="WordPress-Docs"/>
	<rule ref="PHPCompatibilityWP"/>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="vovapg"/>
				<element value="VOVAPG"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="vova-post-grids"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.Files.FileName">
		<properties>
			<property name="is_theme" value="false"/>
		</properties>
	</rule>
</ruleset>
